.div_menu {
    background-color: black;
    margin-bottom: 10px;
}

.menu {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
}

.slider-div {
    text-align: center;
}

.slider {
    width:48%;
}

div p {
    text-align: justify;
}

footer {
    background-color: black;
}

.footer {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.footer-alamat {
    text-align: center;
    color: white;
}