h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 50px;
}

.container {
    margin: 5px;
    border: 2px solid black;
    background-color: lightgreen;
    display: flex;
    height: 200px;
}

.box {
    margin: 5px;
    padding: 5px;
    background-color: honeydew;
}

/* Menggabungkan flex-direction:row dan flex-wrap:wrap */
.satu {
    flex-flow: row wrap;
}

/* Menggabungkan flex-direction:column-reverse dan flex-wrap:nowrap */
.dua {
    flex-flow: nowrap column-reverse;
}