body {
    margin: 0;
    padding: 5px;
}

header {
    background-color: black;
    padding: 5px;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    
}

main {
    background-color: rgb(240, 239, 239);
    box-shadow: 0 0px 5px;
}

.content {
    margin: 0 auto;
    padding: 20px;
}

p {
    text-align: justify;
    column-count: 3;
    column-rule: 2px solid black;
}

.footer {
    background-color: black;
    color: white;
    padding-bottom: 1px;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}