.container {
    display: flex;
    background-color: #ecf0f1;
    justify-content: space-between;
}

.container2 {
    display: flex;
    background-color: #ecf0f1;
    justify-content: center;
}

.box {
    width: 200px;
    height: 75px;
    text-align: center;
    line-height: 75px;
    color: white;
}

.box1 {
    background-color: #1cd0ad;
}

.box2 {
    background-color: #2fcc71;
}

.box3 {
    background-color: #3598db;
}

.box4 {
    background-color: #9a59b5;
}

.box5 {
    background-color: #34495e;
}

.box6 {
    background-color: #f1c40f;
}

.box7 {
    background-color: #e67f22;
}

.box8 {
    background-color: #e84c3d;
}

.box9 {
    background-color: #95a5a5;
}

.box10 {
    background-color: #7e8c8d;
}