p {
    width: 250px;
    height: 110px;
    background-color: lightblue;
}

.top {
    padding-top: 25px;
}

.bottom {
    padding-bottom: 25px;
}

.left {
    padding-left: 25px;
}

.right {
    padding-right: 25px;
}

.satu {
    padding: 25px;
}

.dua {
    padding: 25px 50px;
}

.tiga {
    padding: 25px 50px 5px;
}

.empat {
    padding: 25px 50px 5px 75px;
}