body {
    width: 960px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

#content1 {
    column-width: 200px;
    /* Balance merupakan value default, dimana teks akan dibagi rata sesuai jumlah kolom */
    column-fill: balance;
}

#content2 {
    column-width: 200px;
    /* Value auto digunakan untuk membuat teks memenuhi kolom pertama terlebih dahulu sesuai tinggi element, baru sisa teks yg ada akan mengisi kolom sebelahnya */
    column-fill: auto;
    /* untuk menggunakan value auto, maka kita perlu mendefinisikan tinggi element */
    height: 500px;
}