p {
    background-color: orange;
}

.normal {
    /* Mengatur tinggi element dengan sifat statis */
    height: 100px;

    /* Mengatur lebar element dengan sifat statis */
    width: 150px;
}

.min-p {
    /* 
    Mengatur tinggi element dengan sifat dinamis
    Ketika kontennya sedikit, tinggi elementnya 100px,
    namun ketika isi kontennya bertambah banyak maka tinggi element akan menyesuaikan
    */
    min-height: 100px;
    
    /* Mengatur lebar element dengan sifat statis */
    width: 150px;
}

.max-p {
    /* 
    Mengatur tinggi element dengan sifat dinamis
    Ketika kontennya sedikit, tinggi elementnya menyesuaikan,
    namun ketika isi kontennya bertambah banyak maka tinggi element 
    akan menyesuaikan sampai dengan batas yang ditentukan
    yaitu pada ukuran 100px
    */
    max-height: 100px;
    
    /* Mengatur lebar element dengan sifat statis */
    width: 150px;
}